@import "../../shared/styles/mixins";

.layout {
  padding: 40px 100px;
  min-height: calc(100vh - 80px);
  transition: all 0.2s ease-in-out;
  @include flexColumn(flex-start, stretch);
  gap: 30px;

  @include resolution(tablet) {
    padding: 40px 50px;
  }

  @include resolution(mobile) {
    padding: 20px;
    min-height: calc(100vh - 40px);
  }
}
